*{
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'outfit';
  --tw-bg-opacity: 1;
  background-color: rgb(1 1 1 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(243 243 243 / var(--tw-text-opacity));
}




@tailwind base;
@tailwind components;
@tailwind utilities;

